@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;500;700;800&family=Koulen&family=Roboto:wght@700&display=swap');

body{
    font-family: 'Heebo', sans-serif;
    font-family: 'Koulen', cursive;
    font-family: 'Roboto', sans-serif;
}