:root{

    /*------------------------
            COLORS
    --------------------------*/
        --primary-color: #fefefe;
        --secondary-color: #1975c0;
        --tertiary-color: #69bf14;
        --quartarary-color: #4c8d53;
        --quintary-color: #e9e9e9;
        --sixtary-color: #6b6b6b;
        --seventary-color: #262727;
        --eightary-color: #fbfcfe;
        
    /*------------------------
        CONTAINER SIZE
    --------------------------*/

    --container-custom:37.5rem;

}

    

    